<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>Create a new post!</h1>
    <p>Blog your heart out here.</p>
  </div>
</div>

<h1>Blogs#edit</h1>
<%= render "blox/form" %>
