// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card {
  background-color: #292829;
}

.card-header {
  background-color: grey;
}

.card-body {
  background-color: #4d1717;
}

.gastrobackwhite {
  background-color: white;
}
