<footer class="text-muted text-center">
  <div class="container gastrogreen">
    <p>This template is &copy; Gastronomic <a href="https://www.gastronomic.online/coding-projects" c>GastroDev</a></p>
  </div>
</footer>
